/* css/style.css */

*{ box-sizing: border-box; }

body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ad 300x600 */
.ad{
  position: relative;
  width: 300px;
  height: 600px;
  overflow: hidden;
  background: green;
}

/* Zone carrousel 250x250 centrée */
.carousel{
	background: gold;
  position: absolute;
  width: 250px;
  height: 250px;
  left: 50%;
	transform: translateX(-50%);
  top: 175px;
  overflow: hidden;
}

/* SOLUTION (espacer les slides)
   On ne met PAS "gap" sur le track.
   À la place, on ajoute une marge droite sur chaque slide (sauf la dernière)
   et on compense cette largeur dans le calcul des translations JS (w + gap).
   -> Avantage : simple et compatible partout.
*/
.slide{
  flex: 0 0 250px;
  height: 250px;
  margin-right: 40px; /* anciennement 20px */
}

.slide:last-child{
  margin-right: 0;
}

/* Track: slides côte à côte */
.carousel__track{
  height: 250px;
  display: flex;
  transform: translate3d(0,0,0);
  will-change: transform;
}

/* Contenu */
.slide__inner{
  width: 100%;
  height: 100%;
}

.slide__img{
  width: 100%;
  height: calc(100% - 24px); /* laisse de la place au texte */
  display: block;
  object-fit: contain;
}

.slide__text{
  height: 24px;
  margin: 0;
  line-height: 24px;
  font-size: 12px;
  color: #333;
	text-align: center;
}